.App {
  font-size: 1.3rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #efeeee;
}

.container {
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0px 20px 0px;
  padding: 8px;
}

input[name="password"] {
  margin-bottom: 0;
}

.err {
  color: rgb(196, 0, 121);
}

button {
  background: rgb(69, 143, 255);
  border-style: none;
  border: 1px solid rgb(28, 129, 175);
  font-size: 1.2rem;
  padding: 8px;
  color: white;
  text-transform: uppercase;
  transition: 0.2s;
}

button:hover {
  background: rgb(27, 124, 180);
}

.congrats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background: hotpink;
}
